[Desktop Entry]
Type=Application
Name=Easy UFS Installer
GenericName=Install Linux to internal UFS
Comment=Requires a user password. Installs SteamOS to UFS (boot + root + home).
Exec=easy-ufs-installer
Icon=easy-ufs-installer
Terminal=false
Categories=System;Settings;X-ARM-Manager;
Keywords=ufs;internal;android;storage;install;dual-boot;
StartupNotify=true
